@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&family=Raleway&display=swap');

:root {
    --background-color: #232530;
    --foreground-color: #FAC29A;
    --highlight-color: #E95678;
  }

body {
    background-color: var(--background-color);
    color: var(--foreground-color); 
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
    
a {
    color: var(--highlight-color);
    text-decoration: none;
}

a:hover {
    color: var(--foreground-color);
}

.title-box {
    padding-top: 50px;
    padding-bottom: 50px;
}

.title-box a {
    font-family: 'Oleo Script', cursive;
    font-size: 6em;
    color: var(--highlight-color);
    text-shadow: 5px 5px 0px var(--foreground-color);
    text-decoration: none;

    position: relative;
    left: -100px;
    top: -30px;
}

.title-box a:hover {
    color: var(--foreground-color);
    text-shadow: 5px 5px 0px var(--highlight-color);
}

.title-box img {
    /* position: relative;
    top: 10px; */
    width: 300px;
}


footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

header {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {

    .title-box img {
        width: 200px;
    }

    .title-box {
        font-size: 0.8em;
    }

}
