:root {
    --background-color: #232530;
    --foreground-color: #FAC29A;
    --highlight-color: #E95678;
  }

body {
    background-color: var(--background-color);
    color: var(--foreground-color); 
    font-family: "Arial";
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    color: var(--highlight-color);
}

.title-box {
    padding: 100px;
}

.title-box a {
    font-size: 6em;
    left: -100px;
    top: 20px;
    text-decoration: none;
    position: relative;
    text-shadow: 3px 3px 0px var(--foreground-color);
}

.title-box img {
    position: relative;
    top: 10px;

    width: 200px;
}


footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

header {
    margin-top: 50px;
    margin-bottom: 50px;
}