@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');


:root {
    --background-color: #232530;
    --foreground-color: #FAC29A;
    --highlight-color: #E95678;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color); 
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    color: var(--highlight-color);
    text-decoration: none;
}

a:hover {
    color: var(--foreground-color);
}